<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>First Vue App</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="container">
        <div class="row">
          <p>
            Nom : <input type="text" v-model="user" /> Connecté en tant que {{
            user }}
          </p>
        </div>
        <div class="row">
          <h1>Menus :</h1>
          <ol>
            <li v-for="menu in menus">
              {{ menu }} <button v-on:click="isOrdered(menu)">Commander</button>
            </li>
          </ol>
        </div>
      </div>
    </div>
    <div class="row">
      <h2>Commande en cours :</h2>
      <ul>
        <li v-for="commande in commandes">{{ commande }}</li>
      </ul>
    </div>

    <script>
      let app = new Vue({
        el: "#app",
        data: {
          user: "",
          menus: ["pizza", "burger", "tacos", "salad"],
          commandes: [],
        },
        methods: {
          isOrdered: function (menu) {
            console.log(`${menu} ordered !`);
            this.commandes.push(menu);
          },
        },
      });
    </script>
  </body>
</html>
